.SearchResults {
    width: 45%;
    padding: 1rem;
    overflow-y: scroll;
    overflow-x: hidden;
    min-height: 40vh;
    max-height: 80vh;
    background-color: rgba(1, 12, 63, 0.7);
}

/* Webkit-based browsers (Chrome, Safari) */
/* Scrollbar */
::-webkit-scrollbar {
    width: 0.5rem;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: #be9293;
    border-radius: 5px;
}

/* Firefox */
/* Scrollbar */
scrollbar {
    width: 0.5rem;
}
/* Handle */
scrollbar thumb {
    background: #be9293;
    border-radius: 5px;
}

.SearchResults h2 {
    font-size: 1.3rem;
    padding: 2vh 0;
    margin: 1vh;
    border-bottom: 2px solid #be9293;
}

@media only screen and (max-width: 1020px) {
    .SearchResults {
        width: 90%;
        min-height: 12vh;
        max-height: 60vh;
        margin-bottom: 2rem;
    }
}
