.Playlist {
    width: 45%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 950px;
    background-color: rgba(1, 12, 63, 0.7);
    box-shadow: 0 4px 2px 2px #000000;
  }
  
  .Playlist input {
    width: 100%;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 2px solid white;
    font-family: 'Poppins', sans-serif;
    font-size: 1.3rem;
    text-align: center;
    padding: 2vh 0;
    margin: 1vh;
    color: #d6acad;
  }
  
  .Playlist-save {
    cursor: pointer;
    width: 10rem;
    padding: .77rem 0;
    border-radius: 54px;
    border-width: 0px;
    margin-top: 1.27rem;
    /* background-color: #6c41ec; */
    background-color: #be9293;
    text-align: center;
    font-size: .83rem;
    transition: background-color .25s;
    color: #fff;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
  }
  
  .Playlist-save:hover {
    /* background-color: rgba(108, 65, 233, .7); */
    background-color: #935b5e;
  
  }
  
  /* Webkit-based browsers (Chrome, Safari) */
  /* Scrollbar */
  ::-webkit-scrollbar {
    width: 0.5rem;
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #be9293; 
    border-radius: 5px;
  }  

  /* Firefox */
  /* Scrollbar */
  scrollbar {
    width: 0.5rem;
  }
  /* Handle */
  scrollbar thumb {
    background: #be9293;
    border-radius: 5px;
  }
  
  @media only screen and (max-width: 1020px) {
    .Playlist {
      width: 90%;
      height: auto;
      max-height: 60vh;
      input {
        font-size: 0.9rem;
      }
    }
  }